[submodule "account-analytic"]
	path = account-analytic
	url = git@github.com:Vauxoo/account-analytic.git
	branch = 18.0
[submodule "icm"]
	path = icm
	url = git@git.vauxoo.com:vauxoo/icm.git
	branch = 18.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:Vauxoo/product-attribute.git
	branch = 18.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 18.0
[submodule "stiloconcepto"]
	path = stiloconcepto
	url = git@git.vauxoo.com:vauxoo/stiloconcepto.git
	branch = 18.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:vauxoo/mexico-document.git
	branch = 18.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 18.0
[submodule "account-payment-split"]
	path = account-payment-split
	url = git@git.vauxoo.com:vauxoo/account-payment-split.git
	branch = 18.0
[submodule "l10n-mx-edi-payment-split"]
	path = l10n-mx-edi-payment-split
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-payment-split.git
	branch = 18.0
