[submodule "account-analytic"]
	path = account-analytic
	url = git@github.com:vauxoo-dev/account-analytic.git
	branch = 18.0-mig-purchase_analytic-CLaurelB
[submodule "icm"]
	path = icm
	url = git@git.vauxoo.com:vauxoo-dev/icm.git
	branch = 18.0-mig-xmlgord
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:vauxoo-dev/product-attribute.git
	branch = 18.0-mig-product_pricelist_supplierinfo-CLaurelB
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 18.0
[submodule "stiloconcepto"]
	path = stiloconcepto
	url = git@git.vauxoo.com:vauxoo/stiloconcepto.git
	branch = 18.0-remove_modules_and_templates-CLaurelB
